@media (max-width: 768px) {
	.title {
		font-size: 2.5rem !important;
	}
	.titleSection {
		width: 100% !important;
		font-size: 2.5rem !important;
	}
	.infoSection {
		width: 100% !important;
	}
}

@media (max-width: 420px) {
	.title {
		font-size: 1.5rem !important;
	}
	.titleSection {
		font-size: 1.5rem !important;
	}
}

.bgfilters {
	backdrop-filter: blur(10px);
}

@media (max-width: 520px) {
	.grid_card {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
	}
}

@media (max-width: 1280px) {
	.highcharts-background {
		width: 100% !important;
	}
}
